<main class="container">
    <h1 data-aos="flip-up" class="center">Этап 4</h1>
    <!-- <h3 class="center">Вариант 8 - Операционные системы / MongoDB</h3> -->

    <div data-aos="zoom-in" class="os-edit-side">
        <input id='edit-name' type="text" placeholder="Название">
        <input id='edit-platform' type="text" placeholder="Платформа">
        <input id='edit-bitness' type="text" placeholder="Разрядность">
        <input id='edit-developer' type="text" placeholder="Разработчик">
        <input id='edit-users' type="number" min="0" placeholder="Пользователи">
        <a id='btn-save'class="btn waves-effect green">Добавить</a>
    </div>

    <div id="os_side">

    </div>

    <div class="fake-block"></div>
</main>