<main class="container">
    <h1 data-aos="flip-up" class="center">Этап 4</h1>
    <!-- <h3 class="center">Вариант 8 - Операционные системы / MongoDB</h3> -->
    <h3 data-aos="zoom-in" class="center">In development...</h2>

    <div class="os">

    </div>

    <div class="fake-block"></div>
</main>