<main class="container" id="app">
    <h1 class="center" data-aos="flip-up">Этап 9 (5)</h1>
    <h5 class="center">Разработка плагина на Javascript и jQuery.</h5>
    <p class="center"><strong>Вариант - 1 | крестики-нолики</strong></p>

    <ul class="collapsible popout" data-aos="fade-right">
        <li class="active">
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Игра</div>
            <div class="collapsible-body">
                <div id="root">
                    
                </div>
            </div>
        </li>
    </ul>  

</main>