header .container {
    display: flex;
    flex-direction: row;
}

.collapsible-body ul li {
    margin-bottom: 1rem;
}

.side-srs {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    justify-content: center;
}
.side-srs h3 {
    margin: 0;
}
.side-srs a {
    margin-left: 1rem;
}

.fake-block {
    padding-bottom: 17rem;
}

@keyframes letters {
    0% {
        opacity: .6;
        transform: scale(1)  rotateZ(0deg);
    }
    100% {
        opacity: .4;
        transform: scale(.65) rotateZ(25deg);
    }
}

.side1 {
    float: left;
}
.side2 {
    float: right;
}

.letter {
    display: absolute;
    width: 5rem;
    height: 5rem;
    background-color: grey;
    margin: 1rem;
    opacity: .6;
    animation: letters 1s ease-in-out alternate infinite;
}

.to-right {
    display: flex;
    justify-content: right;
    margin-top: 1.5rem;

}

.task {
    display: grid;
    grid-template-columns: 0.25fr 10fr 1fr;
    grid-gap: 1rem;
}

label.col {
    margin-right: 1rem;
}

textarea {
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 10px gainsboro;
    margin-top: 1rem;
}

.question {
    margin-bottom: .1rem;
}
.question label {
    margin-right: .5rem;
    margin-top: 1rem;
}

.os-edit-side {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

#os_side {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 5px gainsboro;
    border-radius: 8px;
    font-size: 1.2rem;
}

#os_side .btn-floating {
    margin: .25rem .5rem 0 0;
}

@media screen and (max-width: 900px) {
    .os-edit-side, #os_side {
        grid-template-columns: 1fr;
    }
}