.vacancies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.vacancy-block {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.vacancy-block__info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.vacancy-block__photo {
    padding: .5rem;;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img {
    max-width: 200px;
    max-height: 200px;
}

h5, h4, span {
    margin: .75rem 0 0 0;
}

span {
    padding: .25rem;
}