.board-row {
    display: flex;
}
.cell {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    margin: 1px;
    cursor: pointer;
    transition: all ease-in-out .1s;
    text-align: center;
    padding-top: 5px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.btn {
    margin: 8px 0;
}

.cell:hover{
    transition: all ease-in-out .1s;
    transform: scale(1.1);
}